    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLabel">Login via Email</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-body">
            <form [formGroup]="loginForm">
                <div *ngIf="error" class="alert alert-danger mb-3 mt-0">{{error}}</div>

                  <div class="form-group auth-form-group mb-4">
                      <mat-icon matSuffix class="auth-page-icon">email</mat-icon>
                      <input type="email" formControlName="email" class="form-control auth-control" id="email2"
                        placeholder="Email" [ngClass]="{'is-invalid': form.email.errors && form.email.touched}">
                        <div *ngIf="e?.invalid && e?.touched">
                          <div class="text-danger" *ngIf="e?.errors?.required">Email is required</div>
                          <div class="text-danger" *ngIf="e?.errors?.email">Email must be a valid email address</div>
                        </div>
                      </div>
                   

                    <div class="form-group auth-form-group mb-4">
                      <mat-icon matSuffix class="auth-page-icon">vpn_key</mat-icon>
                      <input type="password" formControlName="password" class="form-control auth-control"
                        id="password1" 
                        placeholder="Password" [ngClass]="{ 'is-invalid': form.password.errors && form.password.touched}">
                        <div *ngIf=" form.password.errors" class="invalid-feedback">
                          <div *ngIf="form.password.errors.required">Password is required</div>
                        </div>
                    </div>

                    <div class="form-group container-login100-form-btn ">
                      <button class="form-control btn login100-form-btn text-white" type="submit" (click)="login()">
                        LOGIN
                      </button>
                      <div class="mt-3">
                      <a href="#" class="text-dark" routerLink="/forgot">Forgot Password?</a>
                      </div>
                    </div>
                  </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
