<nav class="navbar navbar-expand-lg navbar-dark bg-p">
    <div class="container-fluid">
      <img src="../../assets/image/download.png" alt="end" class="rounded-circle" width="30px" height="30px">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="/home" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLinkActive="active" routerLink="/tutorials">Tutorials</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLinkActive="active" routerLink="/contact-us">Contact Us!</a>
          </li>
         
        
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success" type="submit">Search</button>
          <div class="dropdown">
            <a class="m-2 dropdown-toggle text-white text-decoration-none" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
             Welcome
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">My Account</a></li>
              <li><a class="dropdown-item" href="#">Logout</a></li>
            </ul>
          </div>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link"  aria-current="page" href="#" routerLinkActive="active" data-bs-toggle="modal" data-bs-target="#loginModal">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" routerLinkActive="active" data-bs-toggle="modal" data-bs-target="#signupmodal">SignUp</a>
            </li>
           
          
          </ul>
        </form>
      </div>
    </div>
  </nav>
  
  <div class="modal fade"  tabindex="-1" aria-labelledby="exampleModalLabel" id="loginModal" aria-hidden="true">
    <app-login ></app-login>
    </div>
 
 <div class="modal fade"  tabindex="-1" aria-labelledby="exampleModalLabel" id="signupmodal" aria-hidden="true">
<app-signup ></app-signup>
</div>
